[mysqld]
default_authentication_plugin=mysql_native_password
default-password-lifetime=0

secure-file-priv = ''

character_set_server=utf8mb4
collation-server=utf8mb4_bin

[mysql]
default-character-set=utf8mb4

